@import './base.css';



.back_card{
  position: fixed;
  width: 18%;
  bottom: 50%;
  transform: rotate(90deg);
  filter: blur(2px)
  

}
.front_card{
  position: fixed;
  width: 12%;
  filter: blur(2px)


}
img{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}






